// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$list-group-item-padding-y: 15px;
$list-group-bg: transparent;

$list-group-color: #848484;

$list-group-action-hover-color: #4c2fe3;
$list-group-action-color: #4c2fe3;

$list-group-action-active-color: #fff;
$list-group-action-active-bg: #4c2fe3;
